:root {
    --lm-bg: #f6f8ff;
    --lm-bg-content: #fefefe;
    --lm-text: #4b6a9b;
    --lm-text-alt: #2b3442;
    --lm-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
    --lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
    --lm-icon-bg: brightness(100%);
    /* Btn */
    --btn: #0079ff;
    --btn-hover: #60abff;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
  }

  .wrapper{
    background-color: var(--lm-bg);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .head{
      position: absolute;
      top: 2rem;
      color: var(--lm-text);
      height: 2rem;
      width: 573px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.8rem;
  }

  .btn{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: transparent;
    cursor: pointer;
  }
  .btn p{
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: var(--lm-text);
  }

  .search-container{
    position: absolute;
    top: 7rem;
    width: 573px;
  }

  .search-container img{
    position: absolute;
    left: 1.5rem;
    top: 1.4rem;
    width: 20px;
  }
  .search-container input{
    width: 100%;
    height: 4rem;
    padding: 2rem 4rem;
    border: none;
    border-radius: 1rem;
    box-shadow: var(--lm-shadow);
    background-color: var(--lm-bg-content);
  }

  .search-container button{
    position: absolute;
    background-color: var(--btn);
    width: 20%;
    height: 80%;
    color: white;
    border-radius: 0.7rem;
    border: none;
    right: 0.7rem;
    top: 0.4rem;
    cursor: pointer;
  }

.search-btn:hover{
    background-color: var(--btn-hover);
}
  .search-btn{
    font-size: 1rem;
    font-weight: bold;
  }

  .search-container input::placeholder{
    font-size: 1.1rem;
    color: var(--lm-text);
  }

  .container{
    width: 573px;
    background-color: var(--lm-bg-content);
    position: absolute;
    top: 13rem;
    height: 70%;
    box-shadow: var(--lm-shadow);
    border-radius: 0.7rem;
    border: none;
  }

  .container-main{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .container-main img{
    position: absolute;
    left: 2.5rem;
    top: 2rem;
    background-color: #0079ff;
    border-radius: 100%;
  }

  .user-info{
    position: absolute;
    top: 3rem;
    left: 11rem;
  }

  .user-info h1{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--lm-text-alt);
  }

  .user-info a{
    color: var(--btn);
  }

  .user-info p{
     color: var(--lm-text);
  }

  .list{
    position: absolute;
    top: 12rem;
    width: 80%;
    left: 2rem;
    align-self: center;
    margin: auto;
    font-size: 15px;
    color: var(--lm-text);
  }

.info{
    display: flex;
    width: 87%;
    gap: 4rem;
    margin: auto;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 2rem;
    background-color: var(--lm-bg);
    border-radius: 0.7rem;
    height: 6rem;
}

.repos, .followers, .following{
    margin-top: -0.8rem;
    margin-left: 2rem;
    font-size: 0.8rem;
    color: var(--lm-text);
    line-height: 2.3rem;
}

.number{
    font-weight:bold;
    font-size: 1.4rem;
    color: var(--lm-text-alt);
}

.links{
   width: 90%;
   position: absolute;
   left: 5%;
   bottom: 5%; 
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;  
    margin-bottom:-3rem;
    line-height: 6rem;
}

.first, .second{
    width: 50%;
    font-size: 1rem;
    color: var(--lm-text);
    padding-bottom: 2rem;
    margin-left: 10px;
}

.icon a{
    color: var(--lm-text);
}

.cross{
  position: absolute;
  right: 25%;
  top: 40%;
  cursor: pointer;
  z-index: -1;
}

.cross.active{ 
  color: var(--lm-text-alt);
  z-index: 1;
}
.input:focus{
  outline: none;
}

.error{
  color: red;
  position: absolute;
  right: 5%;
  top: -40%;
  display: none;
}

.error.active{
  display: block;
}

.input{
  color: var(--lm-text-alt);
}